<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446524422890-24fsnn8k03dtp6k2qrsaug2uf0aj9hfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446524422890-24fsnn8k03dtp6k2qrsaug2uf0aj9hfp</string>
	<key>API_KEY</key>
	<string>AIzaSyCqQ9gyMU2r4a5YZdGTzUY20ra0svXBFLE</string>
	<key>GCM_SENDER_ID</key>
	<string>446524422890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omer.Buildify</string>
	<key>PROJECT_ID</key>
	<string>buildify-221bf</string>
	<key>STORAGE_BUCKET</key>
	<string>buildify-221bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446524422890:ios:023bca2f282ac47b037593</string>
</dict>
</plist>